:root {
  --red: #ec173a;
  --off-white: #eceddc;
  --rose: #f48def;
  --purple: #5353ff;
  --turquoise: #26ffc8;
  --pink: #ff26d4;
  --orange: #ff9700;
  --yellow: #fff600;
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}
