.page {
  position: relative;
  height: 30vh;
}

h1 {
  display: inline-block;
  padding: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home {
  background: linear-gradient(135deg, var(--off-white) 25%, transparent 25%) -50px
      0,
    linear-gradient(225deg, var(--off-white) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--off-white) 25%, transparent 25%),
    linear-gradient(45deg, var(--off-white) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--red);
}
#page-1 {
  background: linear-gradient(90deg, var(--rose), var(--purple));
}
#page-2 {
  background: linear-gradient(90deg, var(--purple), var(--turquoise));
}
#page-3 {
  background: linear-gradient(90deg, var(--pink), var(--orange));
}
#page-4 {
  background: linear-gradient(90deg, var(--orange), var(--yellow));
}
